body {
  background-color: #DADADA;
}

.btn {
  display: inline-block;
  margin: 1rem;
  padding: .938em 1.875em;
  border: .094em solid;
  border-radius: .625em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  font: bold 1.8rem sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.cyan {
  border-color: #009999;
  background-color: cyan;
}

.cyan:hover {
  background-color: #00e0e0;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #0affff;
}

.cyan:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #003333, inset 0 0.063em #009999, inset 0 -0.188em #009999;
}

.magenta {
  border-color: #990099;
  background-color: magenta;
}

.magenta:hover {
  background-color: #e000e0;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ff0aff;
}

.magenta:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #330033, inset 0 0.063em #990099, inset 0 -0.188em #990099;
}

.yellow {
  border-color: #999900;
  background-color: yellow;
}

.yellow:hover {
  background-color: #e0e000;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ffff0a;
}

.yellow:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #333300, inset 0 0.063em #999900, inset 0 -0.188em #999900;
}

.black {
  border-color: black;
  background-color: #333030;
}

.black:hover {
  background-color: #232121;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #383535;
}

.black:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em black, inset 0 0.063em black, inset 0 -0.188em black;
}
