body {
	background-color: #DADADA;
}

.btn {
	display: inline-block;
	margin: 1rem; 
	padding: .938em 1.875em;
	border: .094em solid;
	border-radius: .625em;
	box-shadow: 0 .375em .313em -.313em rgba(black,.8), inset 0 .063em $off-wht, inset 0 -.188em rgba(black,.15);
	color: #FFF;
	font: bold 1.8rem sans-serif;
	@include trans(0.2s ease-in-out); 
	text: {
		transform: uppercase;
		decoration: none;
		shadow: 0 .063em rgba(black,.3);
	}
  cursor:pointer;
}

.cyan {
	@include btn-theme($cyan);
}
.magenta {
	@include btn-theme($magenta);
}
.yellow {
	@include btn-theme($yellow);
}
.black {
	@include btn-theme($black);
}